Flask==1.1.1
Flask-MySQL==1.5.0
Flask-MySQLdb==0.2.0
numpy==1.17.4
python-dotenv==0.10.3
requests==2.21.0
pandas==0.25.3
jsonschema==2.6.0
nltk==3.4.5
PyMySQL==0.9.3
mysqlclient==1.4.6
mysql-connector-python==8.0.18
sklearn==0.0

