{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title> Recommendation </title>
</head>
<body>
  
        <h1> Friendship</h1>
        <table class='table table-striped table-bordered bg-white table-sm'></table>
            <h2>Your best friend should be...</h2>
                <tr>{{data}}</tr> 
    </div>
          

</body>
</html>
{% endblock %}